*{
    margin: 0;
}
.comeco{ 
    background-color: darkgray;
    text-align: center;
    font-size: 26px;
    color:white;
    
}
    
.titulo{
    text-align: center;
    font-size: 50px;
    background-color: gray;
    color: white;
}
.imagems{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}
.imagem{

    height: 250px;
    width: 250px;
    border: 2px solid black;
    
}
footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(51, 47, 47); 
    color: white;
    
}
.card{
    width: 250px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
}
.card2{
    width: 250px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
}
.card3{
    width: 250px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
}